---
install_packages:
  - 'git'
  - 'python-usb'
  - 'python-setuptools'
install_python_packages:
  - 'pyusb'             # for temperusb
install_files:
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/files/conf/80-temper.rules"
    dest:               '/etc/udev/rules.d/80-temper.rules'
commands:
  - command:            python setup.py install
    chdir:              '/usr/local/src/temper-python'
    creates:            '/usr/local/bin/temper-poll'
    user:               'root'
git_repos:
  - repo:               'https://github.com/padelt/temper-python.git'
    dest:               '/usr/local/src/temper-python/'
