# Some generic hostgroup definitions

# A simple wildcard hostgroup
define hostgroup {
  hostgroup_name        all
  alias                 All Servers
  members               *
}

define hostgroup {
  hostgroup_name        ssh-servers
  alias                 SSH Servers
  members               meliora,neuron,neuron-mail,synapse
}

define hostgroup {
  hostgroup_name        ssh-servers-do-not-notify
  alias                 SSH Servers (do not notify)
  members               rudolph
}

define hostgroup {
  hostgroup_name        http-servers
  alias                 HTTP Servers
  members               gateway,meliora,synapse
}

define hostgroup {
  hostgroup_name        http-servers-do-not-notify
  alias                 HTTP Servers (do not notify)
  members               printer
}

define hostgroup {
  hostgroup_name        https-servers
  alias                 HTTP+SSL Servers
  members               gateway,neuron,synapse
}

define hostgroup {
  hostgroup_name        https-transmission-servers
  alias                 Transmission+HTTP+SSL Servers
  members               neuron
}

define hostgroup {
  hostgroup_name        exim-submission-servers
  alias                 Exim Submission Servers
  members               neuron-mail
}

define hostgroup {
  hostgroup_name        ping-servers
  alias                 Ping Servers
  members               isp-gateway
}

define hostgroup {
  hostgroup_name        znc-servers
  alias                 ZNC Servers
  members               neuron-mail
}

define hostgroup {
  hostgroup_name        dns-servers
  alias                 dns Servers
  members               google-public-dns-a,neuron
}

define hostgroup {
  hostgroup_name        transmission-servers
  alias                 Transmission Servers
  members               neuron
}

define hostgroup {
  hostgroup_name        debian-update-servers
  alias                 Debian Update Servers
  members               meliora,neuron,neuron-mail,synapse
}

define hostgroup {
  hostgroup_name        debian-update-servers-do-not-notify
  alias                 Debian Update Servers (do not notify)
  members               rudolph
}

define hostgroup {
  hostgroup_name        tor-servers
  alias                 Tor Servers
  members               neuron-mail
}

define hostgroup {
  hostgroup_name        disk-capacity-servers
  alias                 Disk Capacity Servers
  members               neuron
}

define hostgroup {
  hostgroup_name        flexget-vacuum-servers
  alias                 Flexget Database Vacuum Servers
  members               neuron
}

define hostgroup {
  hostgroup_name        mplayer-servers
  alias                 Mplayer Servers
  members               meliora
}

define hostgroup {
  hostgroup_name        pianobar-servers
  alias                 Pianobar Servers
  members               meliora
}

