# check that ssh services are running
define service {
  hostgroup_name                  ssh-servers
  service_description             SSH
  check_command                   check_ssh
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  ssh-servers-do-not-notify
  service_description             SSH - do not notify
  check_command                   check_ssh
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  notifications_enabled           0
  contact_groups                  admins
}

# check that web services are running
define service {
  hostgroup_name                  http-servers
  service_description             HTTP
  check_command                   check_http
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  https-servers
  service_description             HTTP+SSL
  check_command                   check_https
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  host_name                     neuron
  service_description           HTTPS password protection of /private
  check_command                 check_https_401_private
  use                           generic-service
  notification_interval         0
  contact_groups                admins
}

define service {
  host_name                     neuron-mail
  service_description           HTTP password protection of /family_calendar
  check_command                 check_http_401_family_calendar
  use                           generic-service
  notification_interval         0
  contact_groups                admins
}

define service {
  hostgroup_name                tor-servers
  service_description           Tor
  check_command                 check_tor
  use                           generic-service
  notification_interval         0
  contact_groups                admins
}

define service {
  hostgroup_name                  https-transmission-servers
  service_description             Transmission+HTTP+SSL
  check_command                   check_transmission_https
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  exim-submission-servers
  service_description             Exim Submission
  check_command                   check_exim_submission
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                ping-servers
  service_description           Ping
  # 100 seems normal, but spikes of 400 seem normal, too.  Warn at 750.
  # Packet loss seems happily unusual.  Notify about any at all.
  check_command                 check_ping!2000.0,50%!3000.0,60% 
  use                           generic-service
  notification_interval         0
  contact_groups                admins
}

define service {
  hostgroup_name                  znc-servers
  service_description             ZNC
  check_command                   check_znc
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  dns-servers
  service_description             DNS
  check_command                   check_dns_example
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  transmission-servers
  service_description             Transmission blocklist update
  check_command                   check_transmission_blocklist_update
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  transmission-servers
  service_description             flexget execute
  check_command                   check_flexget_execute
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  debian-update-servers
  service_description             Debian update
  check_command                   check_debian_update
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
  max_check_attempts            4 ; alert after 4 bad results
  retry_interval                5 ; take 5 minutes between results
  ; It should take 15 minutes of downtime to alert.  Reboot should slide.
}

define service {
  hostgroup_name                  debian-update-servers-do-not-notify
  service_description             Debian update - do not notify
  check_command                   check_debian_update
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  notifications_enabled           0
  contact_groups                  admins
}

define service {
  hostgroup_name                  flexget-vacuum-servers
  service_description             flexget database vacuum
  check_command                   check_flexget_vacuum
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  disk-capacity-servers
  service_description             disk capacity
  check_command                   ssh_check_disk_storage
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
}

define service {
  hostgroup_name                  mplayer-servers
  service_description             mplayer
  check_command                   check_mplayer
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
  max_check_attempts            4 ; alert after 4 bad results
  retry_interval                5 ; take 5 minutes between results
  ; It should take 15 minutes of downtime to alert.  Reboot should slide.
}

define service {
  hostgroup_name                  pianobar-servers
  service_description             pianobar
  check_command                   check_pianobar
  use                             generic-service
  notification_interval           0 ; set > 0 if you want to be renotified
  contact_groups                  admins
  max_check_attempts            4 ; alert after 4 bad results
  retry_interval                5 ; take 5 minutes between results
  ; It should take 15 minutes of downtime to alert.  Reboot should slide.
}

