server {
  listen 443 ssl;
  ssl_certificate /etc/nginx/{{ inventory_hostname }}.crt;
  ssl_certificate_key /etc/nginx/{{ inventory_hostname }}.key;
  server_name transmission transmission.neuronpointer.net;

  access_log /var/log/nginx/transmission.access.log;

  location /transmission/ {
    proxy_pass https://transmission:9092;
# nginx < 1.7 chokes on this.
#    proxy_ssl_trusted_certificate /etc/ssl/certs/Aaron_Intermediate_CA.pem;
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /var/www/nginx-default;
  }
}
