define service {
  hostgroup_name                ping
  service_description           Ping
  # 100 seems normal, but spikes of 400 seem normal, too.  Warn at 750.
  # Packet loss seems happily unusual.  Notify about any at all.
  check_command                 check_ping!2000.0,50%!3000.0,60% 
  use                           generic-service
  notification_interval         0
  contact_groups                admins
}


