---
install_packages:
  - 'sudo'
  - 'acl'               # http://docs.ansible.com/ansible/latest/become.html#becoming-an-unprivileged-user
lines_in_files:
  - line:               '%ansible ALL=(ALL) NOPASSWD:ALL'
    regexp:             '^%ansible '
    dest:               '/etc/sudoers'
system_groups:
  - 'ansible'
system_users:
  - 'ansible'
authorized_keys:
  - user:               'ansible'
    keyfile:            "{{ role_path }}/../synapse/files/ssh_keys/pi.id_rsa.pub"
  - user:               'ansible'
    keyfile:            "{{ role_path }}/../mawg/files/ssh_keys/aaron.id_rsa.pub"

