server {
  listen 9092 default_server ssl;
  ssl_certificate /etc/ssl/certs/{{ inventory_hostname }}.pem;
  ssl_certificate_key /etc/ssl/private/{{ inventory_hostname }}.pem;
  server_name transmission transmission.neuronpointer.net;

  access_log /var/log/nginx/transmission.access.log;

  location / {
    proxy_pass http://localhost:9091;
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /var/www/nginx-default;
  }
}

server {
  listen 443 ssl;
  ssl_certificate /etc/ssl/certs/{{ inventory_hostname }}.pem;
  ssl_certificate_key /etc/ssl/private/{{ inventory_hostname }}.pem;
  server_name transmission transmission.neuronpointer.net;

  access_log /var/log/nginx/transmission.access.log;

  location / {
    proxy_pass http://localhost:9091;
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /var/www/nginx-default;
  }
}
