---
- include:              '../tasks/install_packages.yml'
- include:              '../tasks/template_files.yml'
- include:              '../tasks/enable_services.yml'
  when:                 install_packages_result.changed
- include:              '../tasks/restart_services.yml'
  when:                 template_files_result.changed
- include:              '../tasks/start_services.yml'
  when:                 install_packages_result.changed
