define contact {
  contact_name                    aaron_email
  service_notification_period     24x7
  host_notification_period        24x7
  service_notification_options    w,c,r
  host_notification_options       d,r
  service_notification_commands   notify-service-by-email
  host_notification_commands      notify-host-by-email
  email                           aabugher@gmail.com
}


define contact {
  contact_name                  aaron_cell_text
  service_notification_period   24x7
  host_notification_period      24x7
  service_notification_options  w,c,r
  host_notification_options     d,r
  service_notification_commands notify-service-by-email
  host_notification_commands    notify-host-by-email
  email                         4232586399@txt.att.net
}


define contactgroup{
  contactgroup_name       admins
  alias                   Nagios Administrators
#  members                 aaron_cell_text
}
