###############################################################################
# COMMANDS.CFG - SAMPLE COMMAND DEFINITIONS FOR NAGIOS 
###############################################################################


################################################################################
# NOTIFICATION COMMANDS
################################################################################


# 'notify-host-by-email' command definition
define command{
	command_name	notify-host-by-email
	command_line	/usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\n\nDate/Time: $LONGDATETIME$\n" | /usr/bin/mail -s "$HOSTSTATE$: $HOSTNAME$" $CONTACTEMAIL$
	}

# 'notify-service-by-email' command definition
define command{
	command_name	notify-service-by-email
	command_line	/usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTALIAS$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n\n$SERVICEOUTPUT$\n" | /usr/bin/mail -s "$SERVICESTATE$: $HOSTNAME$/$SERVICEDESC$" $CONTACTEMAIL$
	}





################################################################################
# HOST CHECK COMMANDS
################################################################################

# On Debian, check-host-alive is being defined from within the
# nagios-plugins-basic package

################################################################################
# PERFORMANCE DATA COMMANDS
################################################################################


# 'process-host-perfdata' command definition
define command{
	command_name	process-host-perfdata
	command_line	/usr/bin/printf "%b" "$LASTHOSTCHECK$\t$HOSTNAME$\t$HOSTSTATE$\t$HOSTATTEMPT$\t$HOSTSTATETYPE$\t$HOSTEXECUTIONTIME$\t$HOSTOUTPUT$\t$HOSTPERFDATA$\n" >> /var/lib/nagios3/host-perfdata.out
	}


# 'process-service-perfdata' command definition
define command{
	command_name	process-service-perfdata
	command_line	/usr/bin/printf "%b" "$LASTSERVICECHECK$\t$HOSTNAME$\t$SERVICEDESC$\t$SERVICESTATE$\t$SERVICEATTEMPT$\t$SERVICESTATETYPE$\t$SERVICEEXECUTIONTIME$\t$SERVICELATENCY$\t$SERVICEOUTPUT$\t$SERVICEPERFDATA$\n" >> /var/lib/nagios3/service-perfdata.out
	}

# Make sure certain things are password protected.
define command {
  command_name  check_https_401_private
  command_line  /usr/lib/nagios/plugins/check_http -S -H $HOSTADDRESS$ -u /private -e 'HTTP/1.1 401'
}

define command {
  command_name  check_https_401_private_pictures
  command_line  /usr/lib/nagios/plugins/check_http -S -H $HOSTADDRESS$ -u /private/pictures -e 'HTTP/1.1 401'
}

define command {
  command_name  check_http_401_family_calendar
  command_line  /usr/lib/nagios/plugins/check_http -H $HOSTADDRESS$ -u /family_calendar -e 'HTTP/1.1 401'
}

# This stopped working.  9030 is open, but seems to return no data.  *shrug*
define command {
  command_name  check_tor_directory
  command_line  /usr/bin/nmap -p 9030 -sV -oG - $HOSTADDRESS$ | /usr/bin/awk -F / '/Ports: .*9030/ {print $7}' | /bin/grep -q 'Tor directory' || sh -c 'exit 2'
}

define command {
  command_name  check_tor
  command_line  /usr/local/bin/check_tor $HOSTADDRESS$
}

define command {
  command_name  check_temper
  command_line  /usr/local/bin/check_temper $HOSTADDRESS$
}

define command {
  command_name  check_dns_record
  command_line  /usr/local/bin/check_dns_record $HOSTADDRESS$
}

define command {
  command_name  check_transmission_https
  #command_line  /usr/lib/nagios/plugins/check_http --ssl=3 -p 9092 -a transmission:ConsoledDispelAnatomyInquiryDefaults $HOSTADDRESS$
  command_line  /usr/local/bin/check_version_string $HOSTADDRESS$ 9092 'nginx '
}

define command {
  command_name  check_exim_submission
  command_line  /usr/local/bin/check_version_string $HOSTADDRESS$ 587 'Exim smtpd '
}

define command {
  command_name  check_cups_version
  command_line  /usr/local/bin/check_version_string $HOSTADDRESS$ 631 'CUPS '
}

define command {
  command_name  check_znc
  command_line  /usr/local/bin/check_version_string $HOSTADDRESS$ 1110 'ZNC IRC bouncer http config 0.097 or later'
}

#define command {
#  command_name  check_dns_example
#  command_line  /usr/lib/nagios/plugins/check_dns -H example.com -s $HOSTADDRESS$ -a 93.184.216.119
#}

define command {
  command_name  check_dns_example
  command_line  /usr/lib/nagios/plugins/check_dns -H example.com -s $HOSTADDRESS$
}

define command {
  command_name  check_transmission_blocklist_update
  command_line  /usr/local/bin/check_transmission_blocklist_update $HOSTADDRESS$
}

define command {
  command_name  check_flexget_execute
  command_line  /usr/local/bin/check_flexget_execute $HOSTADDRESS$
}

define command {
  command_name  check_debian_update
  command_line  /usr/local/bin/check_debian_update $HOSTADDRESS$
}

define command {
  command_name  check_update_live-build.amd64
  command_line  /usr/local/bin/check_update_live-build.amd64 $HOSTADDRESS$
}

define command {
  command_name  check_update_live-build.i386
  command_line  /usr/local/bin/check_update_live-build.i386 $HOSTADDRESS$
}

define command {
  command_name  check_flexget_vacuum
  command_line  /usr/local/bin/check_flexget_vacuum $HOSTADDRESS$
}

define command {
  command_name  ssh_check_disk_storage
  command_line  /usr/local/bin/ssh_check_disk $HOSTADDRESS$ -w 15 -c 10 /storage
}

define command {
  command_name  check_mplayer
  command_line  /usr/local/bin/check_mplayer $HOSTADDRESS$
}

define command {
  command_name  check_transmission
  command_line  /usr/local/bin/check_transmission $HOSTADDRESS$
}

define command {
  command_name  check_pianobar
  command_line  /usr/local/bin/check_pianobar $HOSTADDRESS$
}

define command {
  command_name  check_agent
  command_line  /usr/local/bin/check_agent $HOSTADDRESS$
}

define command {
  command_name  check_rsync_timestamp
  command_line  /usr/local/bin/check_rsync_timestamp $HOSTADDRESS$
}
