---
install_files:
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/conf/interfaces"
    dest:               '/etc/network/interfaces'
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/conf/hostname"
    dest:               '/etc/hostname'
disable_services:
  - 'dhcpcd'
stop_services:
  - 'dhcpcd'
restart_services:
  - 'hostname.sh'
  - 'networking'
