ddns-update-style       none;
option                  domain-search           "neuronpointer.net";
option                  domain-name             "neuronpointer.net";
# No quotes on the values for domain-name-servers.
#option                  domain-name-servers     {{ dns_server }}.neuronpointer.net, google-public-dns-a.google.com;
option                  domain-name-servers     {{ dns_server }}.neuronpointer.net;
default-lease-time      3600;
max-lease-time          200;
authoritative;
log-facility            local7;

# http://www.syslinux.org/wiki/index.php?title=PXELINUX#UEFI
option                  architecture-type       code 93 = unsigned integer 16;

subnet 192.168.11.0 netmask 255.255.255.0 {
  option                broadcast-address       192.168.11.255;
  option                routers                 gateway.neuronpointer.net;
  #option                domain-name-servers     192.168.11.54;
  range                 192.168.11.2            192.168.11.50;
}

group {
  # EFI netboot
  # This doesn't work yet.
  option                broadcast-address       192.168.11.255;
  option                routers                 gateway.neuronpointer.net;
  #option                domain-name-servers     192.168.11.54;

  filename              "syslinux.efi";

  # First instruct PXE firmware to download ipxe, then instruct ipxe to download syslinux.
  #if exists user-class and option user-class = "iPXE" {
  #  filename            "tftp://{{ inventory_hostname }}/syslinux.efi";
  #} else {
  #  filename            "ipxe.efi";
  #}
 
#  host abugher-lt-uefi {
#    hardware ethernet   28:f1:0e:4d:19:0a;
#    fixed-address       abugher-lt.neuronpointer.net;
#  }
}

group {
  # legacy netboot
  option                broadcast-address       192.168.11.255;
  option                routers                 gateway.neuronpointer.net;
  #option                domain-name-servers     192.168.11.54;
  filename              "lpxelinux.0";

#  host mawg {
#    hardware ethernet   9C:4E:36:C0:D6:00;
#    fixed-address       mawg.neuronpointer.net;
#  }
#
#  host abugher-lt-bios {
#    hardware ethernet   9c:eb:e8:40:80:dd;
#    fixed-address       abugher-lt.neuronpointer.net;
#  }
}

group {
  # no netboot
  option                broadcast-address       192.168.11.255;
  option                routers                 gateway.neuronpointer.net;
  #option                domain-name-servers     192.168.11.54;

{% for h in groups['dhcp-clients'] %}
{% if hostvars[h].mac_address is defined and hostvars[h].ip_address %}

  host {{ h }} {
    hardware ethernet   {{ hostvars[h].mac_address }};
    fixed-address       {{ h }}.{{ domain }};
  }

{% else %}

  # {{ h }} is not fully configured.  ip_address and mac_address are required.  See ansible inventory and host_vars.

{% endif %}
{% endfor %}

}
