---
install_packages:
  - 'tftpd-hpa'
  - 'debian-installer-8-netboot-i386'
  - 'debian-installer-8-netboot-amd64'
  - 'pxelinux'
  - 'syslinux-efi'
  - 'ipxe'
enable_services:
  - 'tftpd-hpa'
create_files:
  - path:               '/usr/share/nginx/www/plaintext'
    owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/debian-installer'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/debian-installer/amd64'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/debian-installer/i386'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/pxelinux'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/syslinux_efi'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/syslinux_modules'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/srv/tftp/ipxe'
install_files:
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/conf/preseed.cfg"
    dest:               '/usr/share/nginx/www/plaintext/preseed.cfg'
symlinks:
  - owner:              'root'
    group:              'root'  
    src:                'debian-installer/i386/boot-screens/ldlinux.c32'
    dest:               '/srv/tftp/ldlinux.c32'
  - owner:              'root'
    group:              'root'
    src:                'pxelinux/lpxelinux.0'
    dest:               '/srv/tftp/lpxelinux.0'
  - owner:              'root'
    group:              'root'
    src:                'syslinux_efi/efi64/syslinux.efi'
    dest:               '/srv/tftp/syslinux.efi'
  - owner:              'root'
    group:              'root'
    src:                'syslinux_modules/efi64/ldlinux.e64'
    dest:               '/srv/tftp/ldlinux.e64'
  - owner:              'root'
    group:              'root'
    src:                'ipxe/ipxe.efi'
    dest:               '/srv/tftp/ipxe.efi'
start_services:
  - 'tftpd-hpa'
lines_in_files:
  - dest:               '/etc/fstab'
    regexp:             '^/usr/lib/debian-installer/images/8/amd64/text/debian-installer/amd64 '
    line:               '/usr/lib/debian-installer/images/8/amd64/text/debian-installer/amd64   /srv/tftp/debian-installer/amd64        none    bind,auto       0       0 # This line added by ansible.'
  - dest:               '/etc/fstab'
    regexp:             '^/usr/lib/debian-installer/images/8/i386/text/debian-installer/i386 '
    line:               '/usr/lib/debian-installer/images/8/i386/text/debian-installer/i386     /srv/tftp/debian-installer/i386         none    bind,auto       0       0 # This line added by ansible.'
  - dest:               '/etc/fstab'
    regexp:             '^/usr/lib/PXELINUX/ '
    line:               '/usr/lib/PXELINUX/                                                     /srv/tftp/pxelinux                      none    bind,auto       0       0 # This line added by ansible.'
  - dest:               '/etc/fstab'
    regexp:             '^/usr/lib/SYSLINUX.EFI/ '
    line:               '/usr/lib/SYSLINUX.EFI/                                                 /srv/tftp/syslinux_efi                  none    bind,auto       0       0 # This line added by ansible.'
  - dest:               '/etc/fstab'
    regexp:             '^/usr/lib/syslinux/modules '
    line:               '/usr/lib/syslinux/modules                                              /srv/tftp/syslinux_modules              none    bind,auto       0       0 # This line added by ansible.'
  - dest:               '/etc/fstab'
    #line:               '/usr/lib/ipxe                                                          /srv/tftp/ipxe                          none    bind,auto       0       0 # This line added by ansible.'
    regexp:             '^/boot '
    line:               '/boot                                                                  /srv/tftp/ipxe                          none    bind,auto       0       0 # This line added by ansible.'
