---
- include:              '../tasks/install_packages.yml'
- include:              '../tasks/install_files.yml'
- include:              '../tasks/restart_services.yml'
  when:                 install_files_result.changed
- include:              '../tasks/enable_services.yml'
  when:                 install_packages_result.changed
- include:              '../tasks/start_services.yml'
  when:                 install_packages_result.changed
