$ModLoad imuxsock # local system logging
$ModLoad imklog   # kernel logging
$ModLoad imtcp    # TCP

$DefaultNetstreamDriver                         gtls
$DefaultNetstreamDriverCAFile                   /etc/ssl/certs/Aaron_Intermediate_CA.pem
$DefaultNetstreamDriverCertFile                 /etc/ssl/certs/{{ inventory_hostname }}.pem
$DefaultNetstreamDriverKeyFile                  /etc/ssl/private/{{ inventory_hostname }}.pem

$InputTCPServerStreamDriverAuthMode             x509/name
$InputTCPServerStreamDriverPermittedPeer        *.neuronpointer.net
$InputTCPServerStreamDriverMode                 1 # TLS-only
$InputTCPServerRun                              6514 # listener port number

# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Set the default permissions for all log files.
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022

$WorkDirectory /var/spool/rsyslog

# Log by facility.
$template                       Auth,"/var/log/syslog_server/%HOSTNAME%/auth.log"
$template                       Syslog,"/var/log/syslog_server/%HOSTNAME%/syslog"
$template                       Cron,"/var/log/syslog_server/%HOSTNAME%/cron.log"
$template                       Daemon,"/var/log/syslog_server/%HOSTNAME%/daemon.log"
$template                       Kern,"/var/log/syslog_server/%HOSTNAME%/kern.log"
$template                       LPR,"/var/log/syslog_server/%HOSTNAME%/lpr.log"
$template                       MailLog,"/var/log/syslog_server/%HOSTNAME%/mail.log"
$template                       MailInfo,"/var/log/syslog_server/%HOSTNAME%/mail.info"
$template                       MailWarn,"/var/log/syslog_server/%HOSTNAME%/mail.warn"
$template                       MailErr,"/var/log/syslog_server/%HOSTNAME%/mail.err"
$template                       User,"/var/log/syslog_server/%HOSTNAME%/user.log"
$template                       Debug,"/var/log/syslog_server/%HOSTNAME%/debug"
$template                       Messages,"/var/log/syslog_server/%HOSTNAME%/messages"

auth,authpriv.*			?Auth
*.*;auth,authpriv.none		-?Syslog
#cron.*				?Cron
daemon.*			-?Daemon
kern.*				-?Kern
lpr.*				-?LPR
mail.*				-?MailLog
mail.info			-?MailInfo
mail.warn			-?MailWarn
mail.err			?MailErr
user.*				-?User



# Some "catch-all" log files.
*.=debug;\
	auth,authpriv.none;\
	news.none;mail.none	?Debug
*.=info;*.=notice;*.=warn;\
	auth,authpriv.none;\
	cron,daemon.none;\
	mail,news.none		?Messages

# Emergencies are sent to everybody logged in.
*.emerg				:omusrmsg:*
