---
install_packages:
  - 'nginx'
  - 'nginx-extras'
  - 'fcgiwrap'
  - 'php5-fpm'
remove_packages:
  - 'apache2'
  - 'apache2-mpm-worker'
  - 'apache2.2-bin'
  - 'apache2.2-common'
install_files:
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/conf/nginx.conf"
    dest:               '/etc/nginx/nginx.conf'
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/conf/default"
    dest:               '/etc/nginx/sites-available/default'
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/conf/default.ssl"
    dest:               '/etc/nginx/sites-available/default.ssl'
symlinks:
  - owner:              'root'
    group:              'root'
    src:                '/etc/nginx/sites-available/default'
    dest:               '/etc/nginx/sites-enabled/default'
  - owner:              'root'
    group:              'root'
    src:                '/etc/nginx/sites-available/default.ssl'
    dest:               '/etc/nginx/sites-enabled/default.ssl'
enable_services:
  - 'nginx'
start_services:
  - 'nginx'
restart_services:
  - 'nginx'
