{% for hostname in groups['all'] %}
define host {
  host_name             {{ hostname }}
{% if hostvars[hostname].ip_address is defined %}
  address               {{ hostvars[hostname].ip_address}}
{% else %}
  address               {{ hostname }}
{% endif %}
  alias                 {{ hostname }}.{{ domain }}
{% if hostvars[hostname].ip_address is defined and '127.0.0.1' == hostvars[hostname].ip_address %}
  parents               {{ inventory_hostname }}
{% else %}
{% if hostvars[hostname].parent is defined %}
  parents               {{ hostvars[hostname].parent }}
{% endif %}
{% endif %}
{% if hostvars[hostname].monitor is defined and hostvars[hostname].monitor == 'yes'%}
{% if hostvars[hostname].platform is defined %}
  use                   {{ hostvars[hostname].platform }}
{% else %}
  use                   generic-host
{% endif %}
{% endif %}
  max_check_attempts    4
  retry_interval        5
{% if hostvars[hostname].notify is defined and hostvars[hostname].notify == 'yes' %}
  notifications_enabled 1
{% else %}
  notifications_enabled 0
{% endif %}
}

{% endfor %}
