---
install_packages:
  - 'live-build'
create_files:
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/usr/local/debian-live'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/usr/local/debian-live/amd64'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/usr/local/debian-live/amd64/debian-live'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/usr/local/debian-live/i386'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/usr/local/debian-live/i386/debian-live'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/var/www/live-build'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/var/www/live-build/amd64'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    state:              'directory'
    path:               '/var/www/live-build/i386'
scripts:
  - script:             "{{ role_path }}/scripts/configure_live-build.amd64"
    creates:            '/usr/local/debian-live/amd64/debian-live/config/common'
  - script:             "{{ role_path }}/scripts/configure_live-build.i386"
    creates:            '/usr/local/debian-live/i386/debian-live/config/common'
commands:
  - command:            '/usr/local/bin/update_live-build.amd64_cronjob'
    chdir:              '/'
    creates:            '/usr/local/debian-live/amd64/debian-live/binary/live/filesystem.squashfs'
    user:               'root'
  - command:            '/usr/local/bin/update_live-build.i386_cronjob'
    chdir:              '/'
    creates:            '/usr/local/debian-live/i386/debian-live/binary/live/filesystem.squashfs'
    user:               'root'
install_files:
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    src:                "{{ role_path }}/files/bin/update_live-build.amd64"
    dest:               '/usr/local/bin/update_live-build.amd64'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    src:                "{{ role_path }}/files/bin/update_live-build.i386"
    dest:               '/usr/local/bin/update_live-build.i386'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    src:                "{{ role_path }}/files/bin/update_live-build_cronjob"
    dest:               '/usr/local/bin/update_live-build_cronjob'
  - owner:              'root'
    group:              'root'
    mode:               '0755'
    src:                "{{ role_path }}/files/bin/update_live-build.amd64_cronjob"
    dest:               '/usr/local/bin/update_live-build.amd64_cronjob'
  - owner:              'root'
    group:              'root'
    mode:               '0755'  
    src:                "{{ role_path }}/files/bin/update_live-build.i386_cronjob"
    dest:               '/usr/local/bin/update_live-build.i386_cronjob'
  - owner:              'root'
    group:              'root'
    mode:               '0644'
    src:                "{{ role_path }}/../{{ inventory_hostname }}/files/cron.d/update_live-build"
    dest:               '/etc/cron.d/update_live-build'
symlinks:
  - owner:              'root'
    group:              'root'
    src:                '/usr/local/debian-live/amd64/debian-live/tftpboot/live/vmlinuz'
    dest:               '/var/www/live-build/amd64/vmlinuz'
  - owner:              'root'
    group:              'root'
    src:                '/usr/local/debian-live/i386/debian-live/tftpboot/live/vmlinuz'
    dest:               '/var/www/live-build/i386/vmlinuz'
  - owner:              'root'
    group:              'root'
    src:                '/usr/local/debian-live/amd64/debian-live/tftpboot/live/initrd.img'
    dest:               '/var/www/live-build/amd64/initrd.img'
  - owner:              'root'
    group:              'root'
    src:                '/usr/local/debian-live/i386/debian-live/tftpboot/live/initrd.img'
    dest:               '/var/www/live-build/i386/initrd.img'
  - owner:              'root'
    group:              'root'
    src:                '/usr/local/debian-live/amd64/debian-live/binary/live/filesystem.squashfs'
    dest:               '/var/www/live-build/amd64/filesystem.squashfs'
  - owner:              'root'
    group:              'root'
    src:                '/usr/local/debian-live/i386/debian-live/binary/live/filesystem.squashfs'
    dest:               '/var/www/live-build/i386/filesystem.squashfs'
