define host {
  use                   laptop-host
  host_name             meliora
  alias                 meliora.neuronpointer.net
  address               192.168.11.53
  parents               gateway
  check_period          almostallday ; I don't think this worked.
  max_check_attempts    4 ; alert after 4 bad results
  retry_interval        5 ; take 5 minutes between results
  ; It should take 15 minutes of downtime to alert.  Reboot should slide.
}
